@model IEnumerable<Community.Models.Person>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People</h1>

</div>

<div class="row">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.PersonFirstName)</th>
            <th>@Html.DisplayNameFor(model => model.PersonLastName)</th>
            <th>@Html.DisplayNameFor(model => model.PersonEmail)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.PersonFirstName)</td>
                <td>@Html.DisplayFor(model => item.PersonLastName)</td>
                <td>@Html.DisplayFor(model => item.PersonEmail)</td>
            </tr>
        }
    </table>
</div>